[test-params]
#these params are now used for longevity tests
number_of_items:1000
#-1 : means that the test will only run once.
#120 : means that the test will run for at least 120 seconds
duration:-1

[couchdb-local]
ip:localhost
port:5984

#couchdb-remote-1 is used for replication tests
[couchdb-remote-1]
ip:172.16.75.130
port:5984

#couchdb-remote-2 is used for replication tests
[couchdb-remote-2]
ip:172.16.75.136
port:5984
